<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/libreria">Libreria Ficct</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div *ngIf="esAdministrador()" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" routerLinkActive="active">
          <li class="nav-item">
            <a class="nav-link" routerLink="/creacionLibro">Crear Libro</a>
          </li>
        </ul>
      </div>
      <span class="navbar-text">
        <strong>Bienvenid@, <a routerLink="/perfil" style="padding-right: 15px;">{{ nombre }}</a></strong>
        <a class="btn btn-primary btn-sm" routerLink="/login" role="button">Salir de Sesion</a>        
      </span>
    </div>
</nav>